<div class="pull-right">
<form action="" method="POST">
	<textarea class="input-xlarge" name="comment[body]" id="new-comment-body"></textarea><br />
	<input type="submit" value="Add Comment" />
</form>
</div>