<span>View Filter: <%= link_to 'All', news_index_path %> / 
	<%= link_to 'Popular', popular_news_index_path %> / 
	<%= link_to 'Controversial', controversial_news_index_path %></span>
<%= link_to 'Submit a Story', new_news_path, :class => 'btn btn-primary pull-right' %>
