<!-- BuySellAds Zone Code -->
<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
<!-- End BuySellAds Zone Code -->

<h1>Post a new story</h1>

<%= render 'form' %>

<%= link_to 'Back', news_index_path %>
