<section class="articletext">
	<h2>Advertise on Rainbow Chronicle</h2>
	<p>If you are interested in advertising with us here at Rainbow Chronicle or submitting your business for a featured listing, send us an email at <%=mail_to('info@rainbowchronicle.com')%>.</p>
</section><!-- /.articletext -->