<section class="articletext">
	<h2>Contact us</h2>
	<p>If you have any questions or comments at all feel free to reach out to us at <%=mail_to('info@rainbowchronicle.com')%> or give us a ring at (857-246-8691). You can talk directly to our founders at <%=mail_to('travis@rainbowchronicle.com')%> and <%=mail_to('conor@rainbowchronicle.com')%>.</p>
</section><!-- /.articletext -->