<!-- BuySellAds Zone Code -->
<div id="bsap_1275847" class="bsarocks bsap_839ea2de154274e885e2b3f414547df4"></div>
<!-- End BuySellAds Zone Code -->

<h2>The Rainbow Map</h2>
<p style="font-size:1.0em; text-align: center;">Color indicates gay friendliness. Green is better, red is worse. Zoom in to see more detailed spreads.</p>
<div id="map">
<iframe width='700' height='400' frameBorder='0' src='http://a.tiles.mapbox.com/v3/rainbowchron.map-b9l50y6p.html#4/39.000/-95.000'></iframe>
<br style="clear:both;" />
</div>
<br style="clear:both;" />
