<div style="font-size:14px;">
<h2 style="text-align:center;">Rainbow Chronicle is seeking a technical co-founder.</h1>
<br><br>
<strong>What We Do</strong><br>
Rainbow Chronicle is a Yelp-like rating site for the LGBT community to rate people and places according to gay friendliness along a series of variables. We use a heat map to show gay friendliness and to provide a revolutionary tool to help 19 million gay Americans make more informed decisions about where and who they do business with. We are growing rapidly - we have over a 1,000 registered users and many thousands of visitors every month - and are looking for a technical leader who will help take our site and user experience to a new level. 
<br><br>
<strong>Who We’re Looking For</strong><br>
We are looking for a technical lead or technical co-founder who is an experienced developer with a background in web application development. Our site is currently built in Ruby on Rails, but experience in other languages is welcome. We are looking for developers who are interested in taking a strong leadership position as the lead developer on a small team. An individual with interests reaching beyond development would be ideal as the technical co-founder will be presented with an opportunity to participate in business leadership.
<br><br>
<strong>Why You Want to Work Here</strong><br>
Our technical lead will have an enormous impact on the creative and technical direction of the company. This is an opportunity to shape a major web-platform from an early stage. We are committed to providing the most conducive environment for productivity as possible, from providing developer grade hardware to perfecting an ideal workspace in the awesome Cambridge Innovation Center. You will be a member of the founding team and will receive substantial equity in a fast growing company. 
<br><br>
<strong>Personal Requirements</strong><br>
We’re a young company and a small team. That means everyone wears more than one hat everyday. While you won't be selling advertisements or fielding interviews, we need a technical co-founder who can do more than just write code. Design, UI, systems admin are all areas where you will be called on for help. More important than your skill-set or experience is your attitude. We are looking for a person prepared to work in the startup environment, eager to be the lead developer and excited to learn new skills and work on areas outside of the traditional developer wheelhouse. 
<br><br>
<strong>Who We Are</strong><br>
Our team is passionate about building a valuable resource for a large and engaged consumer group. We combine the energy of entrepreneurship with the wisdom of building multiple successful internet and software companies. Our core team is comprised of two co-founders who established the vision for Rainbow Chronicle and are committed to creating the leading internet platform for the LGBT community. We have surrounded ourselves with an experienced group of advisors and have an investor who is committed to the social and financial success of the company. 
<br><br>
To learn more, send your resume and a short note on your background to Travis at travis@rainbowchronicle.com
<br><br>
<div style="text-align:center;">
<a href="mailto:travis@rainbowchronicle.com?subject=I&#32;am&#32;interested&#32;in&#32;the&#32;CTO&#32;position" class="btn btn-large btn-success">Email Travis</a>
</div>
</div>










