<div style="text-align:center;font-size:14px;font-weight:bold;height:350px;">
<h1>Rainbow Chronicle is Hiring!</h1>
<br><br>
Rainbow Chronicle is looking for an experienced Rails developer to fill our technical lead / CTO position. All interested parties should contact Travis Lowry at travis@rainbowchronicle.com.
<br><br>

<a href="mailto:travis@rainbowchronicle.com?subject=I&#32;am&#32;interested&#32;in&#32;the&#32;CTO&#32;position" class="btn btn-large btn-success">Email Travis</a>

</div>