ul.foot-links {
  list-style: none;
  li {
      display: inline;
  }
}

ul.category-side-bar {
    list-style: none;
    li.title {
        font-family: sans-serif;
        font-size: 2em;
    }
    li {
        &:before {
        }
    }
    ul {
        list-style: none;
        margin-left: 0px;
        li {
            margin-left: 5px;
            &:before {
                
            }
        }
    }
};